#bodycolor{
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(27, 33, 112);
    max-height: 100%;
}

#loginauth{
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
}

#loginauth:hover{
    background-color: rgb(47, 47, 47);
}

#loginBut{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 240px;
    font-size: 40px;
}

#lyricsPart{
    color: rgb(198, 241, 251);
    font-size: 30px;
    height: 100%;
    font-weight: 600;
}

::-webkit-scrollbar {
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(37, 69, 173);
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display: none;
    /* border-radius: 10px; */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb {
    /* display: block; */
    transition: ease-in-out 1s;
    background: black 
  }

  #player{
    bottom: 1px;
    left: 12px;
    width: 1540px;
    
  }
